@{
    ViewData["Title"] = "Welcome Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="contan">
    <div class="call-to-action">
        <h1>Welcome</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi debitis voluptates cumque laborum, itaque at.
        </p>
            <button class="btn btn-primary">Start Chat</button>
    </div>
    <div class="image-landpage">
        <img src="~/images/chat.svg" alt="Chat" >
    </div>
</div>
