@model AspNetCoreChatapp.ViewModels.ChatViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    var CurrentUser = await UserManager.GetUserAsync(User);
}
<link rel="stylesheet" href="~/css/chat.css" />

@if(CurrentUser.Id == Model.User1ID){

    <h1>You Chat with @Model.Username2</h1>
    }else{
        <h1>You Chat with @Model.Username1</h1>
}


<div class="chat">
    <div class="messages">
        <div class="message y">
            <p>Hello Abdo</p>
        </div>
        <div class="message me">
            <p>Hello</p>
        </div>
        <div class="message me">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vitae neque dignissimos magni
                voluptatem ratione aperiam iusto veniam ut! Officiis distinctio dignissimos ratione quasi, adipisci qui
                fuga excepturi dolorem architecto.</p>
        </div>

        <div class="message y">
            <p>Okay</p>
        </div>
    </div>
    <div class="chat-input">
        <form action="#" method="GET" class="form">
            <textarea name="message"></textarea>
            <input type="hidden" name="user" value="@CurrentUser.Id">
            <input type="hidden" name="chat" value="@Model.ID">
            <input type="submit">
        </form>
    </div>
</div>