.chat{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.messages{
    height: 80vh;
    overflow-y:scroll;
}

.chat-input form {
    display: flex;
    justify-content: flex-start;
}

textarea {
    flex: 70%;
    font-size: 2rem;
}