
.contan {
    width: 100%;
    height: 100%;
    display: flex;
}

.call-to-action{
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.call-to-action h1 {
    color: var(--dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: 900;
}
.call-to-action p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 2px;
}
.call-to-action .btn {
    background-color: var(--green);
}

.image-landpage{
    flex: 60%;
}

.image-landpage img {
    width: 100%;
    height: 100%;
}